<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages', object: f.object %> 
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :age %>
      <%= f.text_field :age, class: 'form-control' %>
      <span>性別</span>
      <label class="radio-inline">
      <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> 男
      </label>
      <label class="radio-inline">
      <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> 女
      </label><br><br>
      
      <%= f.label :profile %>
      <%= f.text_area :profile, class: 'form-control' %>
      
      <%= f.label :email %>
      <%= f.text_field :email, class: 'form-control' %>

      <%= f.label :area %>
      <%= f.select :area,options_for_select(['北海道','東北','関東','中部','関西'], @user.area), {}, { :class => 'form-control' } %>
  
      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :, "Confirmation" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <%= f.submit "Create mcy account", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>